<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <!-- Imagen lateral -->
            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>

            <!-- Formulario -->
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Restablecer Contraseña</h1>
                  <p class="text-muted mb-4">
                    Ingresa tu nombre de usuario para restablecer tu contraseña.
                  </p>
                </div>

                <form (ngSubmit)="resetPassword()" #resetForm="ngForm" class="user">
                  <div class="form-group">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Nombre de usuario</mat-label>
                      <input
                        type="text"
                        matInput
                        required
                        placeholder="Digite su nombre de usuario"
                        [(ngModel)]="username"
                        name="username"
                      />
                      <mat-hint>Debe ingresar un nombre de usuario válido</mat-hint>
                    </mat-form-field>
                  </div>

                  <button
                    type="submit"
                    class="btn btn-primary btn-user btn-block"
                    [disabled]="!resetForm.valid"
                  >
                    Restablecer Contraseña
                  </button>
                </form>

                <hr />

                <div class="text-center">
                  <a class="small" routerLink="/login">Volver al inicio de sesión</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
