<div class="container-fluid">
    <!-- Encabezado -->
    <h1 class="h3 mb-2 text-gray-800">Formularios</h1>
    <p class="mb-4">Lista de formularios registrados en el sistema.</p>

    <!-- Tabla de formularios -->
    <div class="card shadow mb-4">
      <div class="card-header bg-light d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Formularios</h6>
        <button class="btn btn-success m-1" routerLink="/form-create">
          <i class="fas fa-plus"></i> Crear Formulario
        </button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="table-light">
              <tr>
                <th>URL</th>
                <th>Nombre</th>
                <th>Ícono</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let form of forms">
                <td>{{ form.url }}</td>
                <td>{{ form.name }}</td>
                <td><i class="fas fa-fw {{ form.icon }}"></i></td>
                <td class="text-center">
                  <a class="btn btn-sm btn-primary mr-2" [routerLink]="['/form-edit', form.id]">
                    <i class="fas fa-edit"></i> Editar
                  </a>
                  <button class="btn btn-sm btn-danger" (click)="deleteForm(form.id)">
                    <i class="fas fa-trash"></i> Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
