<div class="container-fluid">
  <!-- Encabezado -->
  <h1 class="h3 mb-2 text-gray-800">Roles</h1>
  <p class="mb-4">Lista de los roles registrados en el sistema.</p>

  <!-- Tabla de Tiendas -->
  <div class="card shadow mb-4">
    <div class="card-header bg-light d-flex justify-content-between align-items-center">
      <h6 class="m-0 font-weight-bold text-primary">Lista de Roles</h6>
      <button class="btn btn-success m-1" routerLink="/role-create">
        <i class="fas fa-plus"></i> Crear rol
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="table-light">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Habilitado</th> <!-- Nueva columna -->
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of roles">
              <td>{{ role.id }}</td>
              <td>{{ role.name }}</td>
              <td>
                <span class="badge" [ngClass]="role.enabled ? 'badge-success' : 'badge-secondary'">
                  {{ role.enabled ? 'Habilitado' : 'Deshabilitado' }}
                </span>
              </td>
              <td class="text-center">
                <a class="btn btn-sm btn-primary mr-2" [routerLink]="['/role-edit', role.id]">
                  <i class="fas fa-edit"></i> Editar
                </a>
                <button class="btn btn-sm btn-danger" (click)="deleteRole(role.id)">
                  <i class="fas fa-trash"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>