<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <!-- Imagen a la izquierda en pantallas grandes -->
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>

            <!-- Formulario de login -->
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Inicio de sesión</h1>
                </div>

                <form (ngSubmit)="formSubmit()" class="user">
                  <div class="form-group">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Nombre de usuario</mat-label>
                      <input [(ngModel)]="loginData.username" name="username" required matInput
                        placeholder="Digite su nombre de usuario">
                      <mat-hint>El nombre de usuario debe ser válido</mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="form-group">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Contraseña</mat-label>
                      <input [(ngModel)]="loginData.password" name="password" required type="password" matInput
                        placeholder="Digite su contraseña">
                      <mat-hint>La contraseña debe ser válida</mat-hint>
                    </mat-form-field>
                  </div>

                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    Iniciar sesión
                  </button>
                </form>

                <hr>

                <div class="text-center">
                  <a class="small" href="/forgot-password">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="text-center">
                  <button mat-button color="accent" [routerLink]="'/signup'">Registrarse</button>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
