<div class="container mt-5">
  <div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">
      {{ editMode ? 'Editar' : 'Crear' }} Origen de Transacción
    </h1>
  </div>

  <form (ngSubmit)="onSubmit()" #transactionOriginForm="ngForm">
    <!-- Campo de id -->
    <div class="form-group">
      <label for="id">Id del Origen</label>
      <input type="text" 
             class="form-control" 
             id="id" 
             placeholder="Ingrese el id"
             [(ngModel)]="transactionOrigin.id" 
             name="id" 
             required 
             [disabled]="editMode">
    </div>

    <!-- Campo de Nombre -->
    <div class="form-group">
      <label for="name">Nombre del Origen</label>
      <input type="text" 
             class="form-control" 
             id="name" 
             placeholder="Ingrese el nombre"
             [(ngModel)]="transactionOrigin.name" 
             name="name" 
             required>
    </div>

    <!-- Campo de Descripción -->
    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea class="form-control" 
                id="description" 
                placeholder="Ingrese una descripción"
                [(ngModel)]="transactionOrigin.description" 
                name="description"></textarea>
    </div>

    <!-- Campo de Habilitado -->
    <div class="form-group">
      <label for="enabled">Habilitado</label>
      <select class="form-control" 
              id="enabled" 
              [(ngModel)]="transactionOrigin.enabled" 
              name="enabled" 
              required>
        <option [ngValue]="true">Sí</option>
        <option [ngValue]="false">No</option>
      </select>
    </div>

    <!-- Botón para enviar -->
    <button type="submit" 
            class="btn btn-primary btn-block mt-3" 
            [disabled]="!transactionOriginForm.form.valid">
      {{ editMode ? 'Actualizar' : 'Crear' }} Origen de Transacción
    </button>
  </form>

  <!-- Botón de regreso -->
  <div class="text-center mt-4 mb-4">
    <a class="btn btn-secondary" routerLink="/transactionOrigins">
      <i class="fas fa-arrow-left"></i> Volver a la lista de orígenes
    </a>
  </div>
</div>