<div class="container mt-5">
  <div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">
      {{ editMode ? 'Editar' : 'Crear' }} Producto
    </h1>
  </div>

  <form (ngSubmit)="onSubmit()" #productForm="ngForm">
    <div class="form-group">
      <label for="productId">ID Producto</label>
      <input type="text" class="form-control" id="productId" placeholder="ID único del producto"
        [(ngModel)]="product.productId" name="productId" required [disabled]="editMode" />
    </div>

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" placeholder="Nombre del producto" [(ngModel)]="product.name"
        name="name" required />
    </div>

    <div class="form-group">
      <label for="purchasePrice">Precio Compra</label>
      <input type="number" class="form-control" id="purchasePrice" placeholder="Precio de compra"
        [(ngModel)]="product.purchasePrice" name="purchasePrice" required />
    </div>

    <div class="form-group">
      <label for="salePrice">Precio Venta</label>
      <input type="number" class="form-control" id="salePrice" placeholder="Precio de venta"
        [(ngModel)]="product.salePrice" name="salePrice" required />
    </div>

    <div class="form-group">
      <label for="profitMargin">Margen de Ganancia (%)</label>
      <input type="number" class="form-control" id="profitMargin" placeholder="Margen de ganancia"
        [(ngModel)]="product.profitMargin" name="profitMargin" readonly />
    </div>

    <div class="form-group">
      <label for="category">Categoría</label>
      <select class="form-control" id="category" [(ngModel)]="product.category" name="category" required
        [compareWith]="compareCategories">
        <option *ngFor="let category of categories" [ngValue]="category">
          {{ category.name }}
        </option>
      </select>
    </div>

    <!-- Campo de Estado (Enabled) -->
    <div class="form-group form-check ml-1">
      <input type="checkbox" class="form-check-input " id="enabled"
        [(ngModel)]="product.enabled" name="enabled">
      <label class="form-check-label " for="enabled">Habilitado</label>
    </div>

    <!-- Variaciones solo en edición -->
    <div *ngIf="editMode" class="mt-4">
      <div class="card shadow-sm">
        <div class="card-header bg-light d-flex justify-content-between align-items-center">
          <h5 class="mb-0 text-primary">Variaciones de Producto</h5>
          <button type="button" class="btn btn-success" (click)="openAddVariationDialog()">
            <i class="fas fa-plus"></i> Añadir Variación
          </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>Código</th>
                  <th>Color</th>
                  <th>Estado</th>
                  <th class="text-center">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let variation of productVariations">
                  <td>{{ variation.variationId }}</td>
                  <td>{{ variation.color.name }}</td>
                  <td>
                    <span class="badge" [ngClass]="variation.enabled ? 'badge-success' : 'badge-secondary'">
                      {{ variation.enabled ? 'Habilitado' : 'Deshabilitado' }}
                    </span>
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn btn-sm btn-primary m-1"
                      (click)="openEditVariationDialog(variation)">
                      <i class="fas fa-edit"></i> Editar
                    </button>
                    <button type="button" class="btn btn-sm btn-danger m-1"
                      (click)="deleteVariation(variation.variationId)">
                      <i class="fas fa-trash"></i> Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block mt-3" >
      {{ editMode ? 'Actualizar' : 'Crear' }} Producto
    </button>
  </form>

  <!-- Botón de regreso -->
  <div class="text-center mt-4 mb-4">
    <a class="btn btn-secondary" routerLink="/products">
      <i class="fas fa-arrow-left"></i> Volver a la lista de productos
    </a>
  </div>
</div>