<div class="container mt-5">
  <div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">
      {{ editMode ? 'Editar' : 'Crear' }} Rol
    </h1>
  </div>
  <form (ngSubmit)="onSubmit()" #roleForm="ngForm">
    <!-- Campo de Nombre -->
    <div class="form-group">
      <label for="name">Nombre del Rol</label>
      <input type="text" class="form-control" id="name" placeholder="Nombre del rol" [(ngModel)]="rol.name" name="name"
        required>
    </div>

    <!-- Campo de Enabled -->
    <div class="form-group form-check mt-3">
      <input type="checkbox" class="form-check-input" id="enabled" [(ngModel)]="rol.enabled" name="enabled">
      <label class="form-check-label" for="enabled">Habilitado</label>
    </div>

    <!-- Botón para enviar -->
    <button type="submit" class="btn btn-primary btn-block mt-3" [disabled]="!roleForm.form.valid">
      {{ editMode ? 'Actualizar' : 'Crear' }} Rol
    </button>
  </form>

  <!-- Botón de regreso -->
  <div class="text-center mt-4 mb-4">
    <a class="btn btn-secondary" routerLink="/roles">
      <i class="fas fa-arrow-left"></i> Volver a la lista de roles
    </a>
  </div>
</div>